@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99.2157%;
    --foreground: 0 0% 0%;
    --card: 0 0% 99.2157%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 98.8235%;
    --popover-foreground: 0 0% 0%;
    --primary: 257.9412 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.2857 24.1379% 94.3137%;
    --secondary-foreground: 0 0% 3.1373%;
    --muted: 0 0% 96.0784%;
    --muted-foreground: 0 0% 32.1569%;
    --accent: 250 100% 97.6471%;
    --accent-foreground: 265.3636 99.0991% 56.4706%;
    --destructive: 358.4416 74.7573% 59.6078%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 17.0732% 91.9608%;
    --input: 0 0% 92.1569%;
    --ring: 0 0% 0%;

    --chart-1: oklch(0.811 0.111 293.571);
    --chart-2: oklch(0.606 0.25 292.717);
    --chart-3: oklch(0.541 0.281 293.009);
    --chart-4: oklch(0.491 0.27 292.581);
    --chart-5: oklch(0.432 0.232 292.759);

    --sidebar-background: 0 0% 100%;

    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 351.7303 123.6748% 40.5257%;
    --sidebar-accent: 251.4446 93.48% 95.5038%;
    --sidebar-accent-foreground: 265.3636 99.0991% 56.4706%;
    --sidebar-border: 261.0345 100% 65.8824%;
    --sidebar-ring: 0 0% 0%;
    --radius: 0.6rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.16;
    --shadow-color: #000000;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-sm:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow-md:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
    --shadow-lg:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
    --shadow-xl:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
    --tracking-normal: -0.025em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 225 7.1429% 10.9804%;
    --foreground: 0 0% 94.1176%;
    --card: 228 6.8493% 14.3137%;
    --card-foreground: 0 0% 94.1176%;
    --popover: 228 6.8493% 14.3137%;
    --popover-foreground: 0 0% 94.1176%;
    --primary: 257.6687 100% 68.0392%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226.6667 9.6774% 18.2353%;
    --secondary-foreground: 0 0% 94.1176%;
    --muted: 226.6667 9.6774% 18.2353%;
    --muted-foreground: 0 0% 62.7451%;
    --accent: 217.2414 32.5843% 17.451%;
    --accent-foreground: 208.209 100% 73.7255%;
    --destructive: 0 90.604% 70.7843%;
    --destructive-foreground: 0 0% 100%;
    --border: 222.8571 6.422% 21.3725%;
    --input: 222.8571 6.422% 21.3725%;
    --ring: 257.6687 100% 68.0392%;
    --chart-1: oklch(0.811 0.111 293.571);
    --chart-2: oklch(0.606 0.25 292.717);
    --chart-3: oklch(0.541 0.281 293.009);
    --chart-4: oklch(0.491 0.27 292.581);
    --chart-5: oklch(0.432 0.232 292.759);
    --sidebar-background: 240 5.9% 10%;
    --sidebar: 240 4.3478% 9.0196%;
    --sidebar-foreground: 0 0% 94.1176%;
    --sidebar-primary: 257.6687 100% 68.0392%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 226.6667 9.6774% 18.2353%;
    --sidebar-accent-foreground: 257.6687 100% 68.0392%;
    --sidebar-border: 222.8571 6.422% 21.3725%;
    --sidebar-ring: 257.6687 100% 68.0392%;
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.8rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.16;
    --shadow-color: #000000;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-sm:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow-md:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
    --shadow-lg:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
    --shadow-xl:
      0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: lightgray transparent;
  }
}
